<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <themesettings>
			<general>
				<layout>wide</layout>
				<back_to_top>1</back_to_top>
				<lazy_load>1</lazy_load>
			</general>
			<header>
				<elements>store,curency,account,wishlist,minicart,search,static1,static2,static3</elements>
				<search_type>visible</search_type>
			</header>
			<catalog>
				<new_label>New</new_label>
				<sale_label>Sale</sale_label>
			</catalog>
			<category>
				<layout>themesetting_2columns_left_custom</layout>
				<product_per_row>4</product_per_row>
				<product_per_row_tablet>4</product_per_row_tablet>
				<product_per_row_mobile>2</product_per_row_mobile>
				<image>default</image>
				<description>default</description>
				<cms>default</cms>
			</category>
			<category_landing>
				<description>1</description>
				<product_per_row>4</product_per_row>
				<product_per_row_tablet>4</product_per_row_tablet>
				<product_per_row_mobile>1</product_per_row_mobile>
			</category_landing>
			<catalog_search>
				<layout>themesetting_2columns_left_custom</layout>
				<product_per_row>4</product_per_row>
				<product_per_row_tablet>4</product_per_row_tablet>
				<product_per_row_mobile>2</product_per_row_mobile>
			</catalog_search>
			<product_details>
				<layout>themesetting_onecolumn_custom</layout>
				<default_template>themesettings_product_template_one</default_template>
				<sku>1</sku>
				<stock_status>1</stock_status>
				<reviews_summary>1</reviews_summary>
				<short_description>1</short_description>
				<wishlist>1</wishlist>
				<compare>1</compare>
				<email_to_friend>1</email_to_friend>
				<related_products>1</related_products>
				<related_title>Related Products</related_title>
				<related_position>main_content</related_position>
				<related_per_row>4</related_per_row>
				<related_per_row_tablet>4</related_per_row_tablet>
				<related_per_row_mobile>2</related_per_row_mobile>
				<related_slider>1</related_slider>
				<related_navigation>1</related_navigation>
				<related_slide_by>1</related_slide_by>
				<upsell_products>1</upsell_products>
				<upsell_title><![CDATA[We found other products you might like!]]></upsell_title>
				<upsell_position>main_content</upsell_position>
				<upsell_per_row>4</upsell_per_row>
				<upsell_per_row_tablet>4</upsell_per_row_tablet>
				<upsell_per_row_mobile>2</upsell_per_row_mobile>
				<upsell_slider>1</upsell_slider>
				<upsell_navigation>1</upsell_navigation>
				<upsell_slide_by>1</upsell_slide_by>
			</product_details>
			<shopping_cart>
				<show_coupon>1</show_coupon>
				<show_crosssell>1</show_crosssell>
				<crosssell_title>More Choices:</crosssell_title>
				<number_product>10</number_product>
				<crosssell_per_row>4</crosssell_per_row>
				<crosssell_per_row_tablet>4</crosssell_per_row_tablet>
				<crosssell_per_row_mobile>2</crosssell_per_row_mobile>
				<crosssell_slider>1</crosssell_slider>
				<crosssell_navigation>1</crosssell_navigation>
				<crosssell_slide_by>1</crosssell_slide_by>
			</shopping_cart>
			<newsletter_popup>
				<enabled>1</enabled>
				<title>Sign Up Newsletter</title>
				<html><![CDATA[Subscribe to our newsletters and don't miss new arrivals, the latest fashion updates and our promotions.]]></html>
				<form_subscribe>1</form_subscribe>
				<popup_width>900</popup_width>
			</newsletter_popup>
			<contact>
				<layout>themesetting_onecolumn_custom</layout>
				<map_height>450</map_height>
				<map_zoom>14</map_zoom>
				<navigation>1</navigation>
				<draggable>1</draggable>
			</contact>
			<sharethis>
				<html_share><![CDATA[<div class="sharethis-inline-share-buttons"></div>]]></html_share>
			</sharethis>
		</themesettings>
    </default>
</config>
