<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MGS\Fbuilder\Helper\Generate" type="MGS\ThemeSettings\Helper\Generate" />
    <preference for="MGS\Fbuilder\Block\Adminhtml\System\Export" type="MGS\ThemeSettings\Block\Adminhtml\System\Export" />
    <preference for="MGS\Fbuilder\Block\Adminhtml\System\Import" type="MGS\ThemeSettings\Block\Adminhtml\System\Import" />
	<preference for="MGS\Fbuilder\Block\Page\Head" type="MGS\ThemeSettings\Block\Page\Head" />
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="MGS\ThemeSettings\CustomerData\Wishlist" />
    <preference for="MGS\Fbuilder\Helper\Data" type="MGS\ThemeSettings\Helper\Fbuilder" />
    
</config>