<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Magento_Backend::mgs" title="MGS" module="Magento_Backend" sortOrder="70" resource="Magento_Backend::mgs"/>
		
		<add id="MGS_ThemeSettings::mgs_elements" title="MGS Theme" module="MGS_ThemeSettings" sortOrder="10" parent="Magento_Backend::mgs" resource="MGS_ThemeSettings::mgs_elements"/>
		<add id="MGS_ThemeSettings::theme_setting" title="Theme Setting v1.0.2" module="MGS_ThemeSettings" sortOrder="10" parent="MGS_ThemeSettings::mgs_elements" action="adminhtml/system_config/edit/section/themesettings" resource="MGS_ThemeSettings::theme_setting"/>
		<add id="MGS_ThemeSettings::theme_style" title="Font Setting" module="MGS_ThemeSettings" sortOrder="20" parent="MGS_ThemeSettings::mgs_elements" action="adminhtml/system_config/edit/section/themestyle" resource="MGS_ThemeSettings::theme_style"/>
    </menu>
</config> 